fastapi
uvicorn[standard]
openai-whisper
torch
numpy
tqdm
more-itertools
transformers
ffmpeg-python
selenium
webdriver-manager
python-dateutil
urllib3
python-multipart
diffusers
accelerate
Pillow
gspread==5.12.0
google-auth==2.23.4
python-dotenv